/deep/ body .ui-autocomplete .ui-autocomplete-input {
  padding: 0.7rem;
  //padding-left: 0px;
}

/deep/ p-autoComplete {
  padding: 0 !important;
  border: none !important;
}

/deep/ .ui-autocomplete.ui-widget , /deep/ p-autocomplete > span , /deep/ body .ui-autocomplete .ui-autocomplete-input, /deep/ p-autocomplete {
  width: 100% !important;
  min-width: 100% !important;
}
