<!--<nb-select [disabled]="isDisabled" (selectedChange)="onDoctypeSelect($event)" [selected]="initialSelected" shape="rectangle">
  <nb-option [value]="'-1'">None</nb-option>
  <nb-option *ngFor="let item of doctypes" [value]="item.id">{{item.name}}</nb-option>
</nb-select>-->

<select class="form-control"
    name="sel"
    [(ngModel)]="selectedId"
    (ngModelChange)="onDoctypeSelect($event)">
  <option [ngValue]="0">None</option>
  <option *ngFor="let dt of doctypes" [ngValue]="dt.id">{{dt.name}}</option>
</select>
