<nb-card  style="min-height: 500px;">
  <nb-card-body>
      <nb-tabset>
        <nb-tab tabTitle="Personal Data">
          <br>
            <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                      <label for="inputName">Name</label>
                      <input type="text" nbInput fullWidth id="inputName" placeholder="Name" [(ngModel)]="person.name" [disabled]="mode==EditModes.View">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                      <label for="inputSurname1">Surname 1</label>
                      <input type="text" nbInput fullWidth id="inputSurname1" placeholder="Surname 1" [(ngModel)]="person.surname1" [disabled]="mode==EditModes.View">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                      <label for="inputSurname2">Surname 2</label>
                      <input type="text" nbInput fullWidth id="inputSurname2" placeholder="Surname 2" [(ngModel)]="person.surname2" [disabled]="mode==EditModes.View">
                  </div>
                </div>
              </div>

              <br>

              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                      <label for="inputDocument">Document</label>
                      <input type="text" nbInput fullWidth id="inputDocument" placeholder="Document" [(ngModel)]="person.document" [disabled]="mode==EditModes.View">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                      <label>Document Type</label>
                      <ngx-cv-combo-doctype  [isDisabled]="mode==EditModes.View" [(selected)]="person.documentType"></ngx-cv-combo-doctype>
                  </div>
                </div>
              </div>

              <br>

              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                      <label for="inputPhone1">Phone 1</label>
                      <input type="text" nbInput fullWidth id="inputPhone1" placeholder="Phone1" value="{{person.phone1}}" [disabled]="mode==EditModes.View">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                      <label for="input">Phone 2</label>
                      <input type="text" nbInput fullWidth id="inputPhone2" placeholder="Phone2" value="{{person.phone2}}" [disabled]="mode==EditModes.View">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                      <label for="inputEmail">Email</label>
                      <input type="email" nbInput fullWidth id="inputEmail" placeholder="Email" value="{{person.email}}" [disabled]="mode==EditModes.View">
                  </div>
                </div>
              </div>

              <br>

              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="inputAddress">Address</label>
                    <input type="text" nbInput fullWidth id="inputAddress" placeholder="Address" value="{{person.address}}" [disabled]="mode==EditModes.View">
                  </div>
                </div>
              </div>
        </nb-tab>

        <nb-tab tabTitle="Experience">
          <br>
          <ngx-cv-ped-experiences [mode]="mode" [(experiences)]="person.personExperiences"></ngx-cv-ped-experiences>
        </nb-tab>

        <nb-tab tabTitle="Certificates">

          <span>Content #3</span>
        </nb-tab>

        <nb-tab tabTitle="Skills">
          <br>
          <span>Content #3</span>
        </nb-tab>

      </nb-tabset>
    </nb-card-body>
    <nb-card-footer>
      <button *ngIf="mode!=EditModes.View" (click)="testdebug()" class="btn btn-primary">{{(mode==EditModes.Add)?'Add new':'Finish editing'}}</button>
    </nb-card-footer>
  </nb-card>
<!--
  <div class="col-md-12" *ngIf="mode == EditModes.Add">
    <button type="submit" class="btn btn-danger">Añadir</button>
  </div>-->
